.header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e9ebee;
  .header-logo {
    padding: 20px 162px;
    gap: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      color: #a7c6ba;
    }
    h1 {
      display: inline-flex;
      white-space: nowrap;
      font-size: 16px;
      font-family: Inter;
    }
  }

  .header-cart {
    padding: 12px 162px;
    .header-cart-info {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #201b21;
      gap: 10px;
      padding: 8px 24px;
      border-radius: 8px;
      button {
        background-color: white;
        cursor: pointer;
        border: none;
        display: inline-flex;
        font-size: 14px;
      }
    }
  }
}
.footer {
  position: absolute;
  width: 100%;
  background-color: #201b21;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .footer-logo {
    gap: 9px;
    display: flex;
    align-items: center;
    padding: 24px 162px;
    img {
      color: #a7c6ba;
      width: 24px;
      height: 24px;
    }
    h1 {
      color: white;
      font-size: 16px;
    }
  }
  .footer-copyright {
    color: #d9dbe1;
    p {
      width: 308px;
      height: 24px;
      font-size: 14px;
    }
  }
  .footer-contact {
    display: flex;
    gap: 10px;
    padding: 24px 162px;
    a {
      display: flex;
      align-items: center;
      color: white;
      width: 24px;
      height: 24px;
    }
  }
}
.homepage-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  .homepage-product {
    background-color: #eaeeef;
    width: 1116px;
    height: 427px;
    margin: 32px 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 64px 53px;
    .product-introduce {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      height: 100%;
      h2 {
        font-family: "DM Sans";
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        color: #ec5e2a;
      }
      h3 {
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        color: #67696e;
        font-size: 20px;
      }
      button {
        gap: 10px;
        padding: 20px 80px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 49px;
      }
    }
    .product-image {
      flex: 1;
      img {
        /* gap: 53px; */
        width: 490px;
        height: 321px;
      }
    }
  }
  .homepage-more {
    width: 1116px;
    height: 470px;
    margin: 32px 0 56px 0;
    .more-product {
      display: flex;
      flex-direction: column;
      h2 {
        white-space: nowrap;
        width: 394px;
        height: 48px;
        font-size: 36px;
      }
      .product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;
        .more-product {
          display: flex;
          img {
            display: flex;
            width: 261px;
            height: 284px;
            border-radius: 18px;
          }
        }
        h3 {
          margin-top: 18px;
          font-size: 20px;
        }
        h4 {
          margin: 6px 0 14px 0;
          color: #67696e;
          font-size: 16px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
.bag-container {
  background-color: gray;
  padding: 32px 162px 0 162px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 74px;
  .shoe-bag {
    height: 509px;
    width: 582px;
    background-color: #eaeeef;
  }
  .bag-summary {
    height: 509px;
    width: 460px;
    background-color: #eaeeef;
  }
}
